.wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header {

}

.wrapper-container {
    grid-row: 2;
    display: grid;
    grid-template-columns: 25% 75%;

}

.sidebar {
    grid-column: 1;

    background-color: #eaeaea;
}

.content {
    grid-column: 2;

    display: grid;
    grid-template-rows: auto auto;


    background-color: #dedede;
}
.navbar {
    grid-row: 1;

    display: grid;
    grid-template-columns: auto auto auto auto;

    background-color: #cdcdcd;
}
.structure {
    grid-row: 2;

    background-color: #c1c1c1;
}


header {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 10px;
}
